<%= form_with(model: blog, local: true, url: choose_index_or_edit ) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form_table">
    <div class="field">
      <tr>
        <th><%= form.label :title %></th>
        <td><%= form.text_field :title %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th><%= form.label :content %></th>
        <td><%= form.text_area :content %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th><%= form.label :image %></th>
        <td><%= form.file_field :image %></td>
        <%= form.hidden_field :image_cache %>
      </tr>
    </div>
  </table>
  <div class="actions">
    <%= form.submit "投稿する"%>
  </div>
<% end %>
