<main class="container-fluid">
  <div class="container">
    <div class="main_row row">
      <div class="main_wrapper">

        <% if notice %>
          <div class="blog_box main_notice">
            <p id="notice"><%= notice %></p>
          </div>
        <% end %>

        <div class="blog_box">
          <p>新規作成</p>
          <p>する</p>
        </div>

        <% @blogs.each do |blog| %>
          <div class="blog_box">
            <p class="blog_title"><%= blog.title %></p>
            <% if blog.image.url %>
              <%= image_tag blog.image.url %>
            <% end %>
            <p class="blog_content"><%= blog.content %></p>
            <p class="blog_user_name"><%= blog.user.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
