<main class="container-fluid">
  <div class="container">
    <div class="main_row row">
      <div class="main_wrapper">

        <% if notice %>
          <div class="blog_box main_notice">
            <p id="notice"><%= notice %></p>
          </div>
        <% end %>

        <div class="blog_box">
          <p>新規作成</p>
          <p>する</p>
        </div>

        <% @blogs.each do |blog| %>
          <div class="blog_box">
            <p class="blog_title"><%= blog.title %></p>
            <% if blog.image.url %>
              <%= image_tag blog.image.url %>
            <% end %>
            <p class="blog_content"><%= blog.content %></p>
            <p class="blog_user_name"><%= blog.user.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>




<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <% if blog.image.url %>
          <td><%= image_tag blog.image.url %></td>
        <% end %>
        <td><%= blog.user.name %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %> -->
